/*Document*/

* {
    margin: 0;
    padding: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    color: #FFFAC2;
    font-weight: 300;
  }
  a {
    text-decoration: none;
    color: #FFFAC2;
    padding: 8px;
  }
  a:hover {
    color: #ed1f67;
    background-color:#351736;
    font-weight: 500;
  }
  
  /*Navbar*/
  
  nav {
    display: grid;
    grid-template-rows: minmax(min-content, 45px)min-content;
    float: top;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.5s;
  }
  nav .content {
    background-color: #351736;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    align-content: space-evenly;
  }
  nav .content .logo:hover {
    /*background-color: #120729ff;*/
    color: rgb(255, 255, 246);
  }
  nav .content .links {
    display: grid;
    grid-gap: 35px;
    grid-auto-flow: column;
    grid-template-columns: minmax(min-content, 50px);
    place-items: center;
    
  }
  nav .content .menu-icon {
    display: none;
    padding: 5px;
    font-size: 25pt;
  }
  nav .content .menu-icon:hover {
    filter: opacity(50%);
    cursor: pointer;
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
  }
  nav .dropdown {
    display: none;
    background-color: #351736;
    text-align: center;
  }
  nav .dropdown a {
    color: rgb(255, 255, 246);
    padding: 25px;
  }
  nav .dropdown a:hover {
    color: #252627;
    background-color: #FFF9FB;
  }
  @media only screen and (max-width: 760px) {
    nav .content .menu-icon {
      display: initial;
    }
    nav .content .links {
      display: none
    }
  }
  
  /*Main*/
  .fab, .fas{
    font-size: 1.5rem;
  }
  .iconsSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10vh;
    margin-bottom: 15%;
    margin-top: 15%;
  }
  .icon-text{
    font-weight: 400;
  }
  .textSection {
    display: grid;
    height: 100vh;
    width: 100%;
    background-color: #0a0314ff;
    color: rgb(255, 255, 246);
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  main section article{
    
  }
  @media only screen and ( max-width: 760px) {
    main section h3 {
      padding: .5rem;
      background: #351736;
      color: rgb(255, 255, 246);
      font-size: 2.5rem;
    }
    main section p{
      padding: .5rem;
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 320px) {
    main section h3 {
      padding: .5rem;
      background: #351736;
      color: #fffac2;
      font-size: 2.5rem;
    }
    main section p{
      padding: .5rem;
      font-size: 1rem;
    }
  }
  
  /*Footer*/
  
  footer {
    background: #0a0314ff;
    color: rgb(255, 255, 246);
    font-size: 12pt;
    text-align: center;
    display: grid;
    height: 5%;
  }